<!doctype html>
<html lang="en" xmlns:th=”www.thymeleaf.org”>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<button><a th:href="@{/newcar}">Add Car</a></button>
<h2>Car Details</h2>
<table class="table">
    <thread>
        <tr>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">Price</th>
            <th scope="col">MPG</th>
            <th scope="col">Condition</th>
            <th scope="col">Actions</th>
        </tr>
    </thread>

    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.make}"></td>
        <td th:text="${car.carModel}"></td>
        <td th:text="${car.year}"></td>
        <td th:text="${car.price}"></td>
        <td th:text="${car.mpg}"></td>
        <td th:text="${car.condition}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${car.id})}"><button>Update</button></a>
            <a th:href="@{/delete/{id}(id=${car.id})}"><button>Delete</button></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>